<div class="container">
    <h1>Client site</h1>
    <p>To access the client website, please click <a href="./client.html">here</a>.</p>

    <h1>Admin site</h1>
    <p>To access the admin website, please click <a href="./admin">here</a>.</p>

    <h1>Web service endpoints</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Endpoint</th>
            <th>Function</th>
            <th>Example</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span class="code">/services/pokemon/random</span></td>
            <td>Returns information about a random Pokemon.</td>
            <td><a href="./services/pokemon/random">./services/pokemon/random</a></td>
        </tr>
        <tr>
            <td><span class="code">/services/pokemon?id=ID</span></td>
            <td>Returns information about the Pokemon with the given id.</td>
            <td><a href="./services/pokemon?id=150">./services/pokemon?id=150</a></td>
        </tr>
        <tr>
            <td><span class="code">/services/pokemon/types</span></td>
            <td>Returns an array of type effectiveness data.</td>
            <td><a href="./services/pokemon/types">./services/pokemon/types</a></td>
        </tr>
        </tbody>
    </table>

    <h1>Images</h1>
    <p><strong>Also note:</strong> Image files are located in the <span class="code">/images</span> directory.</p>
    <ul>
        <li>For example: <strong>Dragonite.png</strong> is located at: <a href="./images/pokemon/Dragonite.png">./images/pokemon/Dragonite.png</a></li>
    </ul>
    <img src="./images/pokemon/Dragonite.png">
</div>